.git
.gitignore
.github
.idea
.vscode
.gradle
build
out
bin
*.iml
*.ipr
*.iws

.env
.env.*
!.env.example

Dockerfile
docker-compose*.yml
Jenkinsfile
deployment
DEPLOY.md
README.md
HELP.md

**/*.md
**/*.log
**/node_modules
